<app-breadcrumb [title]="'Clients internes'" [items]="['Paramétrages']" [active_item]="'Clients internes'"></app-breadcrumb>

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row p-1">
      <div class="col-sm-12 mt-2">
        <div class="card">
          <div class="card-header d-inline d-flex justify-content-between align-items-center">
            <h5>Liste des clients internes</h5>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Nouveau client interne</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <form class="theme-form needs-validation" novalidate=""  [formGroup]="clientForm">
                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="numerocontrat">Numero contrat</label>
                    <input class="form-control" id="numerocontrat" formControlName="numerocontrat" type="text" placeholder="renseigner le numéro du contrat">
                    <div class="invalid-feedback" *ngIf="clientForm.controls.numerocontrat.touched && clientForm.controls.numerocontrat.errors?.required">Le numéro du contrat est obligatoire.</div>
                  </div>

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="numeroportable">Téléphone</label>
                    <input class="form-control" id="numeroportable" formControlName="numeroportable" type="text" placeholder="00XXX  XX XX XX XX">
                    <div class="invalid-feedback" *ngIf="clientForm.controls.numeroportable.touched && clientForm.controls.numeroportable.errors?.required">Le prénom est obligatoire.</div>
                  </div>

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="anneearrivee">Année d'arrivée</label>
                    <input class="form-control" id="anneearrivee" formControlName="anneearrivee" type="text" placeholder="1999">
                    <div class="invalid-feedback" *ngIf="clientForm.controls.anneearrivee.touched && clientForm.controls.anneearrivee.errors?.required">L'année d'arrivée est obligatoire.</div>
                  </div>

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="agency">Agency</label>
                    <select class="form-control" id="agency">
                      <option disabled selected>--choisisser une option--</option>
                      <option value=1>OUI</option>
                      <option value=0>NON</option>
                    </select>
                  </div>
                 
                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="idClient">Client</label>
                    <select class="form-control" formControlName="idClient" id="idClient">
                      <option disabled selected>--choisisser le client--</option>
                      @for (client of listClients; track client.id; let i = $index) {   
                        <option  [value]="client.id">
                            {{ client.nom }} {{ client.prenom }}
                        </option>
                    }
                    </select>
                  </div>
                

                  
                
                  <div class="d-flex justify-content-around align-items-center">
                    <button type="button" class="btn btn-sm btn-pill btn-success btn-air-success" [disabled]="!clientForm.valid" (click)="createClientinterne();modal.close('Close click');">Valider</button>
                    <button type="button" class="btn btn-sm btn-pill btn-danger btn-air-danger" (click)="modal.close('Close click')">Annuler</button>
                  </div>
                </form>
              </div>
              
            </ng-template>
            <div class="d-flex justify-content-end btn-showcase modal-options-p-xs">
              <a type="button" (click)="openModal(content)" class="btn btn-success">
                  <em class="fa fa-plus"></em>&nbsp; Client
              </a>
            </div>
          </div>
          <div class="card-body custom-datatable noscroll">
            <div class="custom-datatable table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="" style="font-weight: bold;" sortable="id" (sort)="onSort($event)">ID</th>
                    <th scope="col" class="text-center" style="font-weight: bold;" sortable="nom" (sort)="onSort($event)">CLIENT</th>
                    <th scope="col" class="text-center" style="font-weight: bold;" sortable="prenom" (sort)="onSort($event)">NUMERO CONTRAT</th>
                    <th scope="col" class="text-center" style="font-weight: bold;" sortable="email" (sort)="onSort($event)">TELEPHONE</th>
                    <th scope="col" class="text-center" style="font-weight: bold;" sortable="typeClient" (sort)="onSort($event)">ANNEE ARRIVEE</th>

                  </tr>
                </thead>
                <tbody>
                    @for (client of listClientinternes; track client.id; let i = $index) {
                        <tr >
                            <th scope="row">{{ i+1 }}</th>
                            <td class="text-center">{{ client.idClient }}</td>
                            <td class="text-center">{{ client.numeroContrat }}</td>
                            <td class="text-center">{{ client.numeroPortable }}</td>
                            <td class="text-center">{{ client.anneeArrivee }}</td>
                        </tr>
                    }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends -->
  