<div class="container-fluid">
  <div class="row">
    <div class="col-xl-7 order-1" [ngStyle]="{'background-image': 'url(assets/images/login/2.jpg)',
                                              'background-size': 'cover',
                                              'background-position': 'center center',
                                              'display': 'block'}">
      <img class="bg-img-cover bg-center d-none" src="assets/images/login/1.jpg" alt="looginpage">
    </div>
    <div class="col-xl-5 p-0">
      <div class="login-card">
        <div>
          <div>
           
          </div>
          <div class="login-main"> 
            <form class="theme-form needs-validation"  novalidate="" [formGroup]="loginForm">
              <h5 class="text-center">Connectez-vous à votre compte</h5>
              <p class="text-center">Entrez votre login et mot de passe</p>

              <div *ngIf="errorMessages.length > 0" class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <p *ngFor="let msg of errorMessages">{{msg}}</p>
              </div>

              <div class="form-group">
                <label class="col-form-label">Login</label>
                <input class="form-control" type="email" required=""   placeholder="bicomat@yourmail.com" formControlName="email">
                <div class="invalid-feedback" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">l'email est obligatoire.</div>
                <div class="invalid-feedback" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">L'email est invalide.</div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Mot de passe</label>
                <input class="form-control" [type]="Afficher ? 'text' : 'password'"  name="login[password]" required="" placeholder="*********" formControlName="password">
                <div class="invalid-feedback" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">Le mot de passe est obligatoire.</div>
                <div class="show-hide" (click)="showPassword()" *ngIf="!Afficher"><span class="show"></span></div>
                <div class="show-hide" (click)="showPassword()" *ngIf="Afficher"><span class="Hide"></span></div>
              </div>
              <div class="form-group mb-0">
                <button class="btn btn-primary d-block w-100" type="button" [disabled]="!loginForm.valid" (click)="login()">Sign in</button>
              </div>
            
     
              <!-- <p class="mt-4 mb-0">Avez-vous un compte?
                <a [routerLink]="'/authentication/register/simple'" class="ms-2">Créer un compte</a>
              </p> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>