<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-light">
      <i class="fa fa-angle-double-left"></i>
    </button>
    <button type="button" class="btn btn-light">
      <i class="fa fa-angle-left"></i>
    </button>
    <button type="button" class="btn btn-light">1</button>
    <button type="button" class="btn btn-light">2</button>
    <button type="button" class="btn btn-light">3</button>
    <button type="button" class="btn btn-light">4</button>
    <button type="button" class="btn btn-light">5</button>
    <button type="button" class="btn btn-light">6</button>
    <button type="button" class="btn btn-light">7</button>
    <button type="button" class="btn btn-light">8</button>
    <button type="button" class="btn btn-light">9</button>
    <button type="button" class="btn btn-light">10</button>
  
    <button type="button" class="btn btn-light">
      <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" class="btn btn-light">
      <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
  