<app-breadcrumb [title]="'Default'" [items]="['Accueil']" [active_item]="'Default'"></app-breadcrumb>
<div class="container-fluid">
  <img class="rounded mx-auto d-block" src="assets/images/dashboard/dashboard.jpg" alt="" style="height: 580px; text-align: center;"/>
</div>
