<app-breadcrumb [title]="'Clients'" [items]="['Paramétrages']" [active_item]="'Clients'"></app-breadcrumb>

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row p-1">
      <div class="col-sm-12 mt-2">
        <div class="card">
          <div class="card-header d-inline d-flex justify-content-between align-items-center">
            <h5>Liste des clients</h5>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Nouveau client</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <form class="theme-form needs-validation" novalidate=""  [formGroup]="clientForm">
                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="nom">Nom</label>
                    <input class="form-control" id="nom" formControlName="nom" type="text" placeholder="renseigner le nom">
                    <div class="invalid-feedback" *ngIf="clientForm.controls.nom.touched && clientForm.controls.nom.errors?.required">Le nom est obligatoire.</div>
                  </div>

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="prenom">Prénom</label>
                    <input class="form-control" id="prenom" formControlName="prenom" type="text" placeholder="renseigner le prenom">
                    <div class="invalid-feedback" *ngIf="clientForm.controls.prenom.touched && clientForm.controls.prenom.errors?.required">Le prénom est obligatoire.</div>
                  </div>

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="email">Email</label>
                    <input class="form-control" id="email" formControlName="email" type="text" placeholder="renseigner l'email">
                    <div class="invalid-feedback" *ngIf="clientForm.controls.email.touched && clientForm.controls.email.errors?.required">L'email est obligatoire.</div>
                  </div>

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="echeance">Echeance</label>
                    <input class="form-control" id="echeance" formControlName="echeance" type="text" placeholder="....-..-..">
                    <div class="invalid-feedback" *ngIf="clientForm.controls.echeance.touched && clientForm.controls.echeance.errors?.required">L'écheance est obligatoire.</div>
                  </div>

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="typeclient">Type client</label>
                    <input class="form-control" id="typeclient" formControlName="typeclient" type="text" placeholder="renseigner le type du client">
                    <div class="invalid-feedback" *ngIf="clientForm.controls.typeclient.touched && clientForm.controls.typeclient.errors?.required">Le type client est obligatoire.</div>
                  </div>

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="typecompte">Type compte</label>
                    <select class="form-control" id="typecompte">
                      <option disabled selected>--choisisser le type--</option>
                      <option value="1">COMPTE EPARGNE</option>
                      <option value="2">COMPTE CHEQUE</option>
                    </select>
                  </div>
                  <!--div class="invalid-feedback" *ngIf="clientForm.controls.typecompte.touched && clientForm.controls.typecompte.errors?.required">Le type de compte est obligatoire.</div-->

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="typecarte">Type carte</label>
                    <select class="form-control" id="typecarte">
                      <option disabled selected>--choisisser le type de carte--</option>
                      <option value="1">CARTE VISA</option>
                      <option value="2">CARTE VIP</option>
                    </select>
                  </div>
                  <!--div class="invalid-feedback" *ngIf="clientForm.controls.typecarte.touched && clientForm.controls.typecarte.errors?.required">Le type de carte est obligatoire.</div-->

                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="idBanque">Banque</label>
                    <select class="form-control" formControlName="idBanque" id="idBanque">
                      <option disabled selected>--choisisser la banque--</option>
                      @for (banque of listBanques; track banque.id; let i = $index) {   
                        <option  [value]="banque.id">
                            {{ banque.nom }}
                        </option>
                    }
                    </select>
                    <!--div class="invalid-feedback" *ngIf="clientForm.controls.idBanque.touched && clientForm.controls.idBanque.errors?.required">Le type de carte est obligatoire.</div-->

                    <div class="mb-3">
                        <label class="col-form-label pt-0" for="codecrypto">Code crypto</label>
                        <input class="form-control" id="typeclient" formControlName="codecrypto" type="text" placeholder="renseigner le code crypto">
                        <div class="invalid-feedback" *ngIf="clientForm.controls.codecrypto.touched && clientForm.controls.codecrypto.errors?.required">Le code crypto est obligatoire.</div>
                      </div>

                  </div>
                
                  <div class="d-flex justify-content-around align-items-center">
                    <button type="button" class="btn btn-sm btn-pill btn-success btn-air-success" [disabled]="!clientForm.valid" (click)="createClient();modal.close('Close click');">Valider</button>
                    <button type="button" class="btn btn-sm btn-pill btn-danger btn-air-danger" (click)="modal.close('Close click')">Annuler</button>
                  </div>
                </form>
              </div>
              
            </ng-template>
            <div class="d-flex justify-content-end btn-showcase modal-options-p-xs">
              <a type="button" (click)="openModal(content)" class="btn btn-success">
                  <em class="fa fa-plus"></em>&nbsp; Client
              </a>
            </div>
          </div>
          <div class="card-body custom-datatable noscroll">
            <div class="custom-datatable table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="" style="font-weight: bold;" sortable="id" (sort)="onSort($event)">ID</th>
                    <th scope="col" class="text-center" style="font-weight: bold;" sortable="nom" (sort)="onSort($event)">NOM</th>
                    <th scope="col" class="text-center" style="font-weight: bold;" sortable="prenom" (sort)="onSort($event)">PRENOM</th>
                    <th scope="col" class="text-center" style="font-weight: bold;" sortable="email" (sort)="onSort($event)">EMAIL</th>
                    <th scope="col" class="text-center" style="font-weight: bold;" sortable="typeClient" (sort)="onSort($event)">TYPE CLIENT</th>

                  </tr>
                </thead>
                <tbody>
                    @for (client of listClients; track client.id; let i = $index) {
                        <tr >
                            <th scope="row">{{ i+1 }}</th>
                            <td class="text-center">{{ client.nom }}</td>
                            <td class="text-center">{{ client.prenom }}</td>
                            <td class="text-center">{{ client.email }}</td>
                            <td class="text-center">{{ client.typeClient }}</td>
                        </tr>
                    }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends -->
  