<app-breadcrumb [title]="'Roles'" [items]="['Ebank']" [active_item]="'Roles'"></app-breadcrumb>

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row p-1">
      <div class="col-sm-12 mt-5">
        <div class="card">
          <div class="card-header d-inline d-flex justify-content-between align-items-center">
            <h5>Liste des rôles</h5>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Nouveau</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <form class="theme-form needs-validation" novalidate=""  [formGroup]="roleForm">
                  <div class="mb-3 form-group">
                    <label class="col-form-label" for="libelle">Libellé</label>
                    <input type="text" class="form-control"  formControlName="libelle"  placeholder="renseigner le libellé du rôle">
                    <div class="invalid-feedback" *ngIf="roleForm.controls.libelle.touched && roleForm.controls.libelle.errors?.required">Le libellé est obligatoire.</div>
                  </div>
                  <div class="d-flex justify-content-around align-items-center">
                    <button class="btn btn-sm btn-pill btn-success btn-air-success" [disabled]="!roleForm.valid" type="button"   (click)="createRole();modal.close('Close click');" >Valider</button>
                    <button type="button" class="btn btn-sm btn-pill btn-danger btn-air-danger" (click)="modal.close('Close click')">Annuler</button>
                  </div>
                </form>
              </div>
              
            </ng-template>
            <div class="d-flex justify-content-end btn-showcase modal-options-p-xs">
              <a type="button" (click)="openModal(content)" class="btn btn-success">
                  <em class="fa fa-plus"></em>&nbsp; Roles
              </a>
            </div>
          </div>
          <div class="card-body custom-datatable noscroll">
            <div class="custom-datatable table-responsive">
  
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="" style="font-weight: bold;" sortable="id" (sort)="onSort($event)">ID</th>
                    <th scope="col" class="text-center" style="font-weight: bold;" sortable="libelle" (sort)="onSort($event)">LIBELLE</th>
                   
                  </tr>
                </thead>
                <tbody>
                    @for (role of listRoles; track role.id; let i = $index) {
                      <tr >
                        <td scope="row">{{ i+1 }}</td>
                        <td class="text-center">{{ role.libelle }}</td>
                    
                      </tr>
                    } 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Container-fluid Ends -->
  
